include ../../_mixins


+layout('Seminar & Opposition')
  header
    h1 Seminar &amp; Opposition


  h2 Opposition

  p Each opposition must contain:
  ul
    li A summary/walkthrough of the opposed group's code.
    li 3 things you believe the group did well.
    li 3 things you believe the group could improve.
    li At least 1 thing that was surprising to you.

  p Your analysis should be based on concepts found in the Lab Guidelines and other contents covered in the labs. Be sure to use appropriate terminology to show your understanding of the concepts.

  p The opposition should <b>not</b> be longer than 1 page (excluding illustrations).


  h2 Seminar

  p Each seminar is 3 hours. Every group will present and discuss their opposition of another group's code hand in for 15 minutes. 3 groups present; 15 min break; repeat until done. Whether the discussion should be carried out during the presentation or at the end of the presentation is entirely up to the presenting group. Please plan for at least 5 minutes of discussion. Please begin each session by stating whether you would like people to wait with questions/comments until the end or whether questions/comments are allowed during the presentation.

  p Whether you would like to use a projector and actually show the code, draw on the whiteboard, show slides, use UML, etc. is entirely up to you. Use your creativity! But remember that <b>the most important thing is that your audience actually understand</b> what you are saying and is able to follow along with your narrative. Be pedagogical!


  h2 Practicalities

  p
    b Who should I oppose?  
    | Every group writes their opposition to the "next" group. I.e. group 1 opposes group 2, while group 2 opposes group 3, and so forth... In other words if you are group <code>n</code> then you should explore and oppose the code built by group <code>n+1</code>. If you're the last group, you oppose the first group. If the group you should oppose have failed to submit their code, then you simply oppose the next group "in order" (i.e. <code>n+2</code>). Ask if you have any questions.
