include ../_mixins

+layout('Instructions')
  header
    h1 Software Engineering Labs

  ul
    li The labs consists of four blocks. Each block consists of..
      ul
        li Mandatory
          ul
            li One code hand in
            li One written opposition to someone else's code hand in
            li Presentation of the other person's code hand in and your opposition at the block seminar
            li Participation in block seminar discussion
        li Optional
          ul
            li Multiple exercises
            li Lab participation (highly encouraged)

    li Failure to complete a mandatory step...
      ul
        li ...(regardless of reason) has to be made up for by a written hand in.
        li ...has to be made up for before the one and only supplementary deadline at the end of the course (hand ins after the last deadline will be dealt with next year).

    li Cheating is...
      ul
        li ...handing in something that you did not create by yourself.
        li ...handing in something you are unable to explain.
        li ...a legal matter and will be handled as such.

    li Group work is...
      ul
        li ...encouraged!
        li ...when two people both work on and understand(!) the same code base.
        li ...not dividing up the work between you so that one person writes text, and the other writes code.
        li ...only valid if groups are changed after each lab. Thus, you may only work with the same person in a single lab.
    
    li Lab and seminar work is graded as pass or fail.

    li Deadlines and hand in areas are found on Studentportalen.

    
  p You're expected to <b>prepare for each lab</b> as much as needed. Apart from the lectures and course literature please do consult the 
    a(href="resources/") study material and resources archive
    |.

  hr

  ul
    li
      a(href="b1/") Block 1 &mdash; Fundamentals
    li
      a(href="b2/") Block 2 &mdash; Testing, Debugging &amp; Refactoring
    li
      a(href="b3/") Block 3 &mdash; UML &amp; Design Patterns
    li
      a(href="b4/") Block 4 &mdash; Correctness

  hr
