include ../../_mixins



+layout("Block 4")
  header
    h1 Software Engineering &mdash; Lab 4



  .preamble
    p Using code contracts we're now going to see how we can "guard" behavior and state. Also how to ensure that subclasses respect the restrictions set by their superclasses.
    p
      em This lab instruction is being adjusted to ease the learning experience. It will be available on Monday. Please pardon the interruption. This lab is short and you will be able to complete it during the lab sessions.

  //
    h2 Deliverables
    p Please follow the below folder/file structure for the handin of this block.

    +toc-exercises(4)
      +toc-exercise(1)
        +toc-assignment
          +vs-solution("Vehicles") 




    +exercise(4, 1, "State-space, behavior and Code Contracts")
    p At the lectures you've discussed an example with vehicles with different weights. We're going to implement that example and attempt to enforce behaviour and state-space through the use of contracts. Let's start off with some basic classes:

    pre
      code.language-csharp
        | class RoadVehicle
        | {
        |     public double Weight { get; protected set; }
        | 
        |     public RoadVehicle() { }
        |     public RoadVehicle(double weight)
        |     {
        |         if (weight < 0.5 || 10.0 < weight)
        |             throw new ArgumentException();
        | 
        |         Weight = weight;
        |     }
        | }
        | 
        | class Automobile : RoadVehicle
        | {
        |     public Automobile(double weight)
        |     {
        |         if (weight < 0.2 || 13 < weight)
        |             throw new ArgumentException();
        |         
        |         Weight = weight;
        |     }
        | }      

    p Try recalling the discussion you had in the lecture. Notice how the subclass above ignores the restrictions posed by the superclass's constructor. A simple mistake you may say, but surely an easy one to make.


    h3 Setting up Visual Studio to use Code Contracts
    p To enable Visual Studios static and runtime contract checking, right-click your project in the <em>Solution Explorer</em> and choose </em>Properties</em>. Select the <em>Code Contracts</em> tab  and make sure to check <em>Perform Runtime Contract Checking</em>, <em>Perform Static Contract Checking</em> and also to set the <em>Warning Level</em> to <em>High</em>. Save the configuration file. Whenever you now build the project, the <em>Background contract analysis</em> will be run, and you can track its progress in the <em>Output</em>-pane.

    h3 Using invariants to enforce the weight
    p Now, let's make use of invariants instead of exceptions as to force any subclass to follow the restrictions on weight. Add the following method to the RoadVehicle class:

    pre
      code.language-csharp
        | /* RoadVehicle */
        | [ContractInvariantMethod]
        | private void ObjectInvariant()
        | {
        |     Contract.Invariant(0.5 < Weight && Weight < 10.0);
        | }

    p Invariants in C# are added through void-returning private methods decorated with <code>[ContractInvariantMethod]</code>. The method must never be called from anywhere by the user code.

    p Do the same thing for the Automobile class but using the weight restrictions of the automobile.
    p Since we're moving over to using invariants. Remember to <em>remove</em> the now unnecessary guard conditions that throw <code>ArgumentException</code>'s.

    p If you've progressed correctly, build the project, and then wait a couple of minutes for the static checker to run. You'll notice a couple of "squigglies" show up &mdash; indicating paths that will lead to erroneous states. Which are the potentially erroneous states and why do they happen? Discuss with a partner.
    p Eliminate the errors through (1) removing the parameter-free constructor in the base class, and (2) calling the base constructor with a parameter from the subclass's constructor.

    p The project should now be free of static errors, and we have increased the level of "correctness" in the code as it is now significantly more difficult to create a subclass that breaks the invariant rules of the superclass.

    p Let's have a look at how code contracts can help us realize there are problems with our code. There is still a major problem with our code, and we will find it when we try instantiating an automobile with edge case weight. Put the following code in the main entry point of the application, run the program and take note of the exception that arise.

    pre
      code.language-csharp Automobile car = new Automobile(12.0);

    p We should now realize that the conceptual problem with our code is that we're actually violating Liskov's substitution principle. Discuss with a partner why that is.



    h3 Rethinking the automobile class
    p Now that we've realized that an automobile cannot possible be a ground vehicle if the weight of the automobile is greater than the maximum allowed weight for anything that is a ground vehicle. Let's rethink. Instead, rewrite the invariant of the automobile so that the invariant enforces the following.

    pre
      code.language-csharp 1 < Weight && Weight < 7.5





    h3 Pre- and post-conditions
    p Now, we'll leave the invariants and talk about pre- and post-conditions. Let's introduce the concept of passengers to the automobile class. Implement the following method and it's required members:

    pre
      code.language-csharp
        | /* Automobile */
        | public void SetPassengers(int n)
        | {
        |   if (n > 5)
        |     throw new ArgumentException("Could not fit all passengers");
        | 
        |   _currentPassengers = n;
        | }





    h4 Pre-
    p Let's replace the exception-throwing code above with a pre-condition. You can think of pre-conditions as a way to make sure that a method is only allowed to be called with valid input. Rewrite the method like so:

    pre
      code.language-csharp
        | public void SetPassengers(int n)
        | {
        |   Contract.Requires(n <= 5);
        |   _currentPassengers = n;
        | }
      
    p Now, to test whether or not this works, put the following code in the main entry of the application:
    pre
      code.language-csharp
        | Automobile am = new Automobile(4);
        | am.SetPassengers(2); // Should be ok
        | am.SetPassengers(6); // Should not be ok
    p Rebuild the project and notice what errors that the static checker finds. Now we need not even run the application before the checker finds our mistakes.
    p Experiment with how the static checker behaves when we are using variables instead of primitives. Use a variables instead of a hard-coded number.




    h4 Post-
    p Now let's instead focus on post-conditions. Quite intuitively, if pre-conditions ensure correctness of state upon entry in a method, post-conditions ensure correctness of state upon exit out of a method. Using post-conditions it is often possible to mathematically and specifically describe what the method "actually do". To write post-conditions we use the ensures-method:
    pre
      code.language-csharp
        | Contract.Ensures(statement);
        | // Where the statement evaluates to true or false
    p Write a post-condition that enforce the implementation of the SetPassenger-method. Run the application to see if your post-condition passes. To verify that you've written a correct post-condition, "break" the code by changing the implementation to an incorrect one, such as:
    pre
      code.language-csharp _currentPassengers = n + 1;




    h3 Extend the classes
    p If you've completed all of the above. Think of some new behavior that could be added to either the sub- and/or the superclass. Implement that behavior and then write invariants, pre- and/or post-conditions to "protect" it. Try choosing something not concerned with arithmetic.



