body{
  padding: 12px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

.container{
  margin: auto auto;
  max-width: 920px;
}


p, li{
  line-height: 1.5em;
}


header{
  margin-top:    1.5em;
  margin-bottom: 1.5em;
}


h2{
  margin-top: 3em;
}


a{
  text-decoration: none;
  color: #EC5751;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}


p  > code,
li > code{
  background: #dedede;
  padding: 2px 3px;
  border-radius: 3px;
  color: #333;
}



.terminal{
  background: #222;
  padding:    30px 1em 1em 1em;
  color:      #fff;
  position: relative;
}
.terminal::before{ 
  content: "Command Prompt";
  display: block;
  background: #ddd;
  color: #222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3px;
  text-align: center;
}



@-webkit-keyframes flash {
  0% {
    background-color: rgba(200,150,0,.25);
    background-color: rgba(236,87,81,.25);
    opacity:1;
  }
  100% {
    background-color: transparent;
  }
}

.flash{
  -webkit-animation-name: flash;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}



.exercise-summary,
.exercise-summary ol,
.exercise-summary ul{
  list-style-type: none;
}
.exercise-summary{
  padding-left: 0;
}



table{
  border:        1px solid #222;
  text-align:    left;
}
table th{
  border-bottom: 1px solid #222;
  text-align:    center;
}
table tr{
  border-bottom: 1px solid #aaa;
}
table td,
table th{
  padding:       3px 6px;
}


.cipher-specification{
  font-size:      .9em;
  width:          100%;
  margin-bottom:  1.5em;
}
.cipher-specification tr td{
  vertical-align: top;
}
.cipher-specification tr td:first-child{
  text-align: right;
  width: 33%;
}



ul.no-bullet{
  list-style-type: none;
}




/* font awesome */
.fa code a{
  padding-left: 3px;
}

