include mixins/deliverables
include partials/layout

mixin refactoring-exercise-file(name)
  +vs-file
    a(href="../code/block2/MovieRentalRefactoring/MovieRentalBefore/#{name}.cs") #{name}.cs



+layout("Block 2")
  header
    h1 Software Engineering &mdash; Lab 2

  .preamble
    p In this block we'll focus on <em>testing</em> (more precisely <a href="http://en.wikipedia.org/wiki/Unit_testing">unit testing</a>) and <em>refactoring</em>. In essance, unit testing is the art testing individual methods in isolation. Testing in a broader sense mostly refer to the art of <a href="http://en.wikipedia.org/wiki/Software_verification_and_validation">verification</a>. Remember to never hand in before all tests are passing. Be weary of false positives.






  h2 Deliverables
  p Please follow the below folder/file structure for the handin of this block.



  +toc-exercises(2)
    +toc-exercise(1)
      +toc-assignment
        +vs-solution("MathUtils") 

    +toc-exercise(2)
      +toc-assignment
        +vs-solution("Refactoring")

    +toc-exercise(3)
      +toc-assignment
        +vs-solution("Matrix")

    +toc-exercise(4)
      +toc-assignment
        +vs-solution("FizzBuzz")








  +exercise(1, 1, "Introduction to testing")
    p In this exercise we're going to familiarize ourselves with the concept of unit testing.
    ol
      li Create a new Visual Studio Solution.
      li Add a new 
        code Class Library
        |  project, and name it 
        code MathLibrary
        |.
      li Add a new 
        code Unit Test Project
        |  and name it 
        code MathLibraryTests
      li Create a new class in your <code>MathLibrary</code> project. Name it <code>MathLib.cs</code>. Add the contents of the scaffold below.
      li Add the contents of the scaffold below.
        ul.no-bullet
          +vs-file
            a(href="../code/block2/MathLibrary/MathLibrary/MathLib.cs") MathLib.cs
      li Create a new class in your <code>MathLibraryTests</code> project. Name it <code>MathLibTests</code>.
      li Create a (or rename the default) class in your test project and name it <code>MathLibTests.cs</code>
      li Add the contents of the scaffold below.
        ul.no-bullet
          +vs-file
            a(href="../code/block2/MathLibrary/TestProject/MathLibraryTests.cs") MathLibTests.cs
      li Add a reference (via <code>Solution Explorer</code>) to the <code>MathLibrary</code> project in the <code>MathLibraryTests</code> project. We do this because the test project is going to test classes in the <code>MathLibrary</code> project, and thus need access to the classes.

    p <code>MathLib</code> contains a number of public static functions that perform math related operations. Not all methods are implemented. You must complete these implementations.

    p <code>MathLibTests</code> contains a number of unit tests that aim to verify the functionality of all public methods in the <code>MathLib</code> class. Not all tests are implemented. You must complete these implementations.

    p You decide whether you wish to write each test before each implementation or vice versa. Do not add or remove any methods. Make sure your handin contains both your implementation and your tests.







  +exercise(1, 2, "Refactoring")
    p The purpose of this exercise is to practice the art of refactoring in controlled steps. Using tests to ensure correctnessa at each change. This exercise is designed by <a href="http://en.wikipedia.org/wiki/Martin_Fowler">Martin Fowler</a>, the author of the book <a href="http://martinfowler.com/books/refactoring.html">Refactoring</a>.

    ol
      li Create a new Console Application and introduce the code of the following classes into your project.
        ul.no-bullet
          +refactoring-exercise-file("Customer")
          +refactoring-exercise-file("DVD")
          +refactoring-exercise-file("DomainObject")
          +refactoring-exercise-file("Movie")
          +refactoring-exercise-file("Rental")
          +refactoring-exercise-file("Program")

      li Introduce the following integration tests to your project. Run the integration tests. One should pass and one should fail. Ensure that this is the case before continuing further.
        ul.no-bullet
          +vs-file
            a(href="../code/block2/MovieRentalRefactoring/MovieRentalTests/CustomerIntegrationTests.cs") CustomerIntegrationTests.cs

      li Follow the instructions given in the following document step by step. Remember to run the integration tests between changes to ensure that you are not altering the behavior of the program.
        ul
          +file-text
            a(href="http://www.cs.unc.edu/~stotts/723/refactor/chap1.html") Instructions.html












  +exercise(2, 3, "Debugging via Tests")
    p The purpose of this exercise is to use tests as a means of locating and fixing bugs. Matrix multiplication is not trivial. The person who built the class below thus failed. Your job is to use tests to locate and fix all bugs.
    
    ol
      li Create a new Class Library project in Visual Studio.
      li Download the class containing bugs, and add the code to your project.
        ul.no-bullet
          +vs-file
            a(href="../code/block2/MatrixUtils/MatrixUtils/Matrix.cs") Matrix.cs
      li Create a Test Project in the same Solution.
      li Create and run tests one by one in order to locate any bugs. Test all public methods.
      li Fix the bugs either when you've written all tests or when you've encountered them.





  










  +exercise(2, 4, "Testing To Drive Design")

    figure.figure-right
      a(href="http://en.wikipedia.org/wiki/Test-driven_development#/media/File:Test-driven_development.PNG")
        img.img-md(src="http://upload.wikimedia.org/wikipedia/commons/9/9c/Test-driven_development.PNG")
      span
        a(href="http://en.wikipedia.org/wiki/Test-driven_development") Wikipedia on Test Driven Development

    p The purpose of this exercise is to explore the concept of letting tests drive implementation design. Your task is to implement a solution to the classic FizzBuzz problem.  You are expected to employ test driven development and thus let your tests guide your implementation design.

    p The specification for the FizzBuzz problem is as follows.
      ol
        li Any number divisible by 3 is a "Fizz".
        li Any number divisible by 5 is a "Buzz".
        li Any number divisible by 3 and 5 is a "FizzBuzz".
        li Any number neither divisible by 3 nor 5 simply remain itself.
        li Your implementation of FizzBuzz must somehow allow easy "counting".<br>
          code "1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz"

    p Make sure your handin contains both your implementation and your tests.
