include partials/layout

+layout('Resources')
  header
    h1 Software Engineering &mdash; Study material

  p Please do familiarize yourself with (as much as you find necessary of) the following study material before attempting to approach the corresponding lab exercises. Naturally, all of the study material is not mandatory. However, you will notice how you greatly benefit from exploring this material.


  h2 Block 2
  ul
    li Testing
      ul
        li
          a(href="https://www.youtube.com/watch?v=QCif_-r8eK4") What is TDD?
          |  (~5 min video)
        li
          a(href="http://www.youtube.com/watch?v=5gMBGVNR8wE") TDD in Visual Studio using C#
          |  (~17 min video)
        li
          a(href="https://www.youtube.com/watch?v=xX9hfPkA800") A TDD pair-programming session
          |  (~2 h video)
        li
          a(href="http://feelings-erased.blogspot.se/2013/03/the-two-main-techniques-in-test-driven.html") "Sliming" / "Fake it 'til you make it"
          |  (blog post) 
        li
          a(href="http://blog.james-carr.org/2006/11/03/tdd-anti-patterns/") TDD anti-patterns
          |  (blog post) (i.e. things you should not do)
    li Refactoring
      ul
        li
          a(href="http://en.wikipedia.org/wiki/Code_refactoring") What is refactoring?
          |  (Wikipedia)
        li
          a(href="http://www.cs.unc.edu/~stotts/723/refactor/chap1.html") Refactoring, a first example
          |  (A great example of refactoring by Martin Fowler)
        li Examples of Martin Fowler's refactoring technique (from his book 
          a(href="http://martinfowler.com/books/refactoring.html") Refactoring &mdash; Improving the design of existing code
          | ). Explained by some dude on youtube.
          ol
            li
              a(href="https://www.youtube.com/playlist?list=PL3GKSsHsE_qKWl5-XWAX6jACpfId_9-8Y") Composing methods
              |  (video playlist)
            li
              a(href="https://www.youtube.com/playlist?list=PL3GKSsHsE_qJX-E7GuBkKJ8-BoyiThrk7") Moving Features Between Objects
              |  (video playlist)
            li
              a(href="https://www.youtube.com/playlist?list=PL3GKSsHsE_qJ54Q3oJ3GNVj8WkFZd6y2y") Organizing data
              |  (video playlist)
            li
              a(href="https://www.youtube.com/playlist?list=PL3GKSsHsE_qIv4gbun2h268rBc2-RnyNH") Simplifying Conditional Expressions
              |  (video playlist)
            li
              a(href="https://www.youtube.com/playlist?list=PL3GKSsHsE_qJwgtU88VFGq6cmewrdorxh") Making Method Calls Simpler
              |  (video playlist)
            li
              a(href="https://www.youtube.com/playlist?list=PL3GKSsHsE_qLVoAoWooC0yk59RLwV4rfW") Dealing With Generalization
              |  (video playlist)

